{% extends '_layouts/base.html' %}
{% load friendshiptags %}
{% block content %}
    {% block headline %}<h1 style="text-align: center;">Welcome to UCRList</h1>{% endblock headline %}
    {% if user.is_authenticated %}
    <div style="width: 20px; float: left"></div>
    <div class="network-section" style="float: left;">
        <h3>Your Network</h3>
        <div class="network-content">
            <table style="width: 100%">
                <tr style="width: 100%; vertical-align: top">
                    <td style="width: 33%">
                        <h4> Friends </h4>
                        <ul>
                            {% for f in myfriends %}
                                <li><a href="{% url 'profiles:view' username=f.username sortmethod='default'%}">{{ f.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td style="width: 33%">
                        <h4> Followers </h4>
                        <ul>
                            {% for f in followers %}
                                <li><a href="{% url 'profiles:view' username=f.username sortmethod='default'%}">{{ f.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td style="width: 33%">
                        <h4> Following </h4>
                        <ul>
                            {% for f in following %}
                                <li><a href="{% url 'profiles:view' username=f.username sortmethod='default'%}">{{ f.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

     <div class="small-separator" style="height: 30px; width: 100%; display: inline-block;"> &nbsp; </div>

    <div class="messages-section" style="float: left;">
        <h3> Messages: </h3>
        <form method="post" action="">
          {% csrf_token %}
          <table class="table table-hover" style="width: 100%;">
            <thead>
              <tr>
                <th>From</th>
                <th>Content</th>
                <th></th>
                <th>Date</th>
              </tr>
            </thead>
            {% for frequest in frequests %}
            <tr>
              <td><a href="{% url 'profiles:view' username=frequest.from_user sortmethod='default'%}">{{frequest.from_user}}</a></td>
              <td> {{frequest.message}} </td>
              <td> <button name="accept" value="{{frequest.id}}" type="submit" class="btn btn-success btn-sm">Accept</button>
                   <button name="reject" value="{{frequest.id}}" type="submit" class="btn btn-danger btn-sm">Reject</button>
              </td>
              <td>{{frequest.created}}</td>
            </tr>
            {% endfor %}
            {% for list_notification in list_notifications %}
            <tr>
              <td><a href="{% url 'profiles:view' username=list_notification.from_user sortmethod='default' %}">{{list_notification.from_user}}</a></td>
              <td> {{list_notification.content}} </td>
              <td></td>
              <td>{{list_notification.send_date}} </td>
            </tr>
            {% endfor %}
          </table>
        </form>
    </div>
{% endif %}
{% endblock content %}
