{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="list-detail-section">
    <h2> {{ l.title }} </h2>
    <a href="{%url 'lists:like' slug=l.slug %}">
    {% if user_likes %}
    Unlike
    {% else %}
    Like
    {% endif %}
    </a>
    
    <p>{{ num_likes }} users like this post</p>
    
    <a href="{%url 'lists:favorite' slug=l.slug %}">
    {% if user_favorited %}
    Remove from favorites
    {% else %}
    Add to Favorites
    {% endif %}
    </a>

    <p style="margin-left: 10px">by <a href="{% url 'profiles:view' username=l.owner sortmethod='default'%}">{{ l.owner }}</a></p><br/>
    {% for item in l.listitem_set.all %}
        <div>
            <h4>{{ forloop.counter}}. {{ item.title }}</h4>
             <!-- safe filter allows for html to be rendered -->
            {{ item.descriptionmeta |safe}}
        </div>
    {% endfor %}

    {% for comment in l.comments.all %}
        <div class="row">
          <div class="col-md-6">
                
              <img style="display:block; margin: 0 auto;" class="img-circle" src="{{ MEDIA_URL }}{{ comment.owner.profile.avatar }}" height="75" width="75"/>
              <strong><a href="{% url 'profiles:view' username=comment.owner.username sortmethod='default' %}"> {{comment.owner.username}}</a></strong>
                <strong>Posted on </strong>: {{ comment.pub_date }}
                {{ comment.content }}
            </div>
        </div>
    {% endfor %}
        <form method="post" action="{% url 'lists:comment' slug=l.slug %}">
            {% csrf_token %}
            <textarea name="comment_content" rows="4"
                cols="40" class="comment" 
                placeholder="What did you think about this list?">
            </textarea>
            <br>
            <button type="submit" class="btn btn-primary">
                Post Comment
            </button>
        </form>

</div>
{% endblock %}
