<h1> {{vm.top_n}} {{vm.list_title}} </h1>
<h2> Number {{vm.number}}: {{vm.item_title}} </h2>
<div class="row"> 
            <div class="col-md-6 form-group">
                <label for="itemtitle">
                    Item Title
                </label>
				<input ng-model="vm.item_title"
                       type="text"
                       class="form-control"
                       id="itemtitle"
                       placeholder="Episode 4: A New Hope"
                       name="title"
                       ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                       ng-trim
                       ng-maxlength="128"
                       required/>
               </div>
</div>
<label for="toolbar">
    Description
</label>
<div ng-hide="vm.show_preview()"> 
    <div id="toolbar" class="toolbar ql-toolbar ql-snow">
        <span class="ql-format-group">  
            <span title="Link" class="ql-format-button ql-link"></span>
            <span class="ql-format-separator"></span>
            <span title="Image" class="ql-format-button ql-image"></span>
        </span>
    </div>
    <div id="editor" class="editor ql-container ql-snow">
    </div>
</div>
<div ng-show="vm.show_preview()">
    <p ng-bind-html="vm.html_preview"></p>
</div>
<div class="btn-group">
    <label class="btn btn-primary"
        ng-model="vm.preview_radio"
        btn-radio="'edit'"
        uncheckable>
        edit
    </label>
    
    <label class="btn primary"
        ng-model="vm.preview_radio"
        ng-change="vm.generate_preview()"
        btn-radio="'preview'"
        uncheckable>
        preview
    </label>
</div>
<hr>
<div class="footer btn-group">
    <input class="btn"
            value="Back"
            type="Submit"
            ng-click="vm.back()"/>
    <input class="btn"
            value="Next"
            type="Submit"
            ng-click="vm.next()"/>

</div>
