{% extends '_layouts/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Your Circles</h3>
        <ul>
            {% for c in circles %}
                <li>{{ c.circleName }}</li>
                <ul>
                    {% for f in friends_in_circles|getItem:c.circleName %}
                        <li>{{ f }}</li>
                    {% endfor %}
                </ul>
                <form action="{% url 'profiles:circles' %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="circle_action" value="add_friend_to_circle"/>
                    <input type="hidden" name="circle" value="{{ c.circleName }}"/>
                    <select name="friend">
                        <option value="" disabled selected>Add Friend</option>
                        {% for f in not_in_circles|getItem:c.circleName %}
                            <option value="{{ f }}">{{ f }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="add to circle"/>
                </form>
                <ul>
                    {% for f in friends_in_circles.c.circleName %}
                        <li>{{ f.username }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <form action="{% url 'profiles:circles' %}" method="post">{% csrf_token %}
            <input type="hidden" name="circle_action" value="add_circle"/>
            <input type="text" name="newcircle" placeholder="create new circle"/>
            <input type="submit" value="OK"/>
        </form>
    {% endif %}
{% endblock content %}