<!--TODO-->
{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}
{% load friendshiptags %}

{% block content %}
{% if not not_friends or not not_self %}
  <img src="{{ MEDIA_URL }}{{ profile.avatar }}" height="100" width="100"/>
  <p>Username: {{profile.user.username}}</p>
  <p>Nickname: {{profile.nickname}}</p>
  <p>Gender: {{profile.gender}}</p>
  <p>Birthday: {{profile.birthday}}</p>
  <p>Active user since {{profile.creation_date}}</p>
  <p>Topics of Interest</p>
  <ul>
    {% for topic in topicList %}
    <li> {{topic.get_topic_display}} </li>
    {% endfor %}
  </ul>

  <div>
    <h4> Friends </h4>
    {% friends profile.user %}

    <h4> Followers </h4>
    <ul>
      {% for f in followers %}
      <li>{{ f.username }}</li>
      {% endfor %}
    </ul>

    <h4> Following </h4>
    {% following profile.user %}
  </div>
{% endif %}
<div>
    <h1><strong>{{ profile.user.username }}'s lists</strong></h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Title</td><td>Created by</td><td>Publish date</td>
            </tr>
        </thead>
        {% for list in userLists %}
          <tr>
            <td><a href="{% url 'lists:detail' slug=list.slug %}">{{ list.title }}</a>  {% if not not_self %}<a href="{% url 'lists:edit' slug=list.slug %}"><small>(Edit)</small></a>{% endif %}</td>
            <td> <a href="{% url 'profiles:view' username=list.owner sortmethod='default'%}">{{ list.owner }}</a></td>
            <td>{{ list.pub_date }}</p></td>
          </tr>
        {% endfor %}
    </table>
</div>


<div class="row">
  <div class="span4 offset2">
    {% if not_self %}
      {% if not_friends and not active_request %}
        {% crispy addfriendform %}
      {% endif %}

      {% if doesnt_follow  %}
        {% crispy followuserform %}
      {% endif %}
    {% endif %}
  </div>
</div>


{% endblock %}
