{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}
{% load friendshiptags %}

{% block content %}
<div class="profile-section">
    {% if not not_friends or not not_self %}
    <div class="row" style="display: flex;">
      <div class="col-md-6 profile-view-data" style="width: 500px;">
        <img style="display:block; margin: 0 auto;" class="img-circle" src="{{ MEDIA_URL }}{{ profile.avatar }}" height="100" width="100"/>

        <center>
          <h1>{{profile.user.username}}</h1>
          <p><strong>Nickname</strong>: {{profile.nickname}}</p>
          <p><strong>Gender</strong>: {{profile.gender}}</p>
          <p><strong>Birthday</strong>: {{profile.birthday}}</p>
          <p><strong>Active user since</strong>: {{profile.creation_date}}</p>
          {% if not_self %}
          <form method="post" action="{% url 'profiles:sendmessage' username=profile.user.username sortmethod='default' %}">
            {% csrf_token %}
            <p><strong>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#messageModel">
                  Send Message
                </button>

                <!-- Modal -->
                <div class="modal fade" id="messageModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Conversation with {{profile.user.username}}</h4>
                      </div>
                      <div class="modal-body" id="conversation" style="height:200px; overflow-y:auto;">
                        {% for message in conversation %}
                          {% if message.from_user == profile.user %}
                            <p class="from">{{profile.user.username}}: {{message.content}}</p>
                          {% endif %}

                          {% if message.to_user == profile.user %}
                            <p class="to">You: {{message.content}}</p>
                          {% endif %}
                        {% endfor %}
                      </div>
                      <textarea name="message_content" rows="4" cols="65" class="message" placeholder="Your message content here"></textarea>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                      </div>
                    </div>
                  </div>
                </div>

            </strong></p>
          </form>
          {% endif %}
        </center>
      </div>
      <div class="col-md-6 profile-view-data">
        <h3>{{profile.user.username}}'s Friends </h3>
        <ul>
            {% for f in myfriends %}
                <li><a href="{% url 'profiles:view' username=f.username sortmethod='default'%}">{{ f.username }}</a></li>
            {% endfor %}
        </ul>
        <h3>{{profile.user.username}}'s Followers </h3>
        <ul>
          {% for f in followers %}
            <li><a href="{% url 'profiles:view' username=f.username sortmethod='default'%}">{{ f.username }}</a></li>
          {% endfor %}
        </ul>
        <h4> Following </h4>
        <ul>
            {% for f in following %}
                <li><a href="{% url 'profiles:view' username=f.username sortmethod='default'%}">{{ f.username }}</a></li>
            {% endfor %}
        </ul>
        <h4>Favorite Topics</h4>
        <ul>
           {% for topic in topicList %}
          <li> {{topic.get_topic_display}} </li>
          {% endfor %}
        </ul>
      </div>
    </div>


    {% endif %}
    <div class="col-md-12">
      <div> 
          <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-info" href="/profiles/view/{{profile.user.username}}/ascending">Time Ascending</a>
            <a class="btn btn-info" href="/profiles/view/{{profile.user.username}}/descending">Time Descending</a>
            <a class="btn btn-info" href="/profiles/view/{{profile.user.username}}/alphabetical">A-Z</a>
            <a class="btn btn-info" href="/profiles/view/{{profile.user.username}}/ralphabetical">Z-A</a>
          </div>
          <h1>{{ profile.user.username }}'s lists</h1>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <td>Title</td>
                      <td>Created by</td>
                      <td>Publish date</td>
                      {% if not not_self %}<td><center>Options</center></td>{% endif %}
                  </tr>
              </thead>
              {% for list in userLists %}
                <tr>
                  <td>
                    <a href="{% url 'lists:detail' slug=list.slug %}">{{ list.title }}</a>
                  </td>
                  <td> <a href="{% url 'profiles:view' username=list.owner sortmethod='default'%}">{{ list.owner }}</a></td>
                  <td><p>{{ list.pub_date }}</p></td>
                  <td>  {% if not not_self %}
                      <center>
                        <a href="{% url 'lists:edit' slug=list.slug %}"><small class="text-info">(Edit)</small></a><br />
                        <form method="post" action="{% url 'lists:delete' slug=list.slug %}">{% csrf_token %}
                          <button class="btn btn-link" type="submit"><div class="text-danger">(Delete)</div></button>
                        </form>
                      </center>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
          </table>
         <h1>{{ profile.user.username }}'s favorites</h1>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <td>Title</td>
                      <td>Created by</td>
                      <td>Publish date</td>
                      {% if not not_self %}<td><center>Options</center></td>{% endif %}
                  </tr>
              </thead>
              {% for list in userFavorites %}
                <tr>
                  <td>
                    <a href="{% url 'lists:detail' slug=list.slug %}">{{ list.title }}</a>
                  </td>
                  <td> <a href="{% url 'profiles:view' username=list.owner sortmethod='default'%}">{{ list.owner }}</a></td>
                  <td><p>{{ list.pub_date }}</p></td>
                  <td>  
                      {% if not not_self %}
                      <center>
                        <a href="{% url 'lists:favorite' slug=list.slug  %}" class="text-danger">(Delete)</a>
                        </form>
                      </center>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
          </table>

      </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="row">
      <div class="span4 offset2" style="display: inline-block">
        {% if not_self %}
          {% if not_friends and not active_request %}
          <form method="post" action="{% url 'profiles:addfriend' username=profile.user.username sortmethod='default' %}">
            {% csrf_token %}
            <button class="btn btn-default" type="submit">Add Friend</button>
          </form>
          {% elif not active_request %}
              <form method="post" action="{% url 'profiles:deletefriend' username=profile.user.username sortmethod='default' %}">
                  {% csrf_token %}
                  <button class="btn btn-default" type="submit">Un-friend</button>
              </form>
          {% endif %}

          {% if doesnt_follow  %}
          <form method="post" action="{% url 'profiles:followuser' username=profile.user.username sortmethod='default' %}">
            {% csrf_token %}
            <button class="btn btn-default" type="submit">Follow User</button>
          </form>
          {% else %}
          <form method="post" action="{% url 'profiles:unfollowuser' username=profile.user.username sortmethod='default' %}">
            {% csrf_token %}
            <button class="btn btn-default" type="submit">Unfollow User</button>
          </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
</div>
{% endblock content %}
